.header {
  &__inner {
    @include flex-between-center-gap(30);
    position: relative;
    z-index: 50;
    margin-top: 16px;
    @include r($tablet) {
      margin-top: 25px;
    }
    @include r($phone) {
      gap: 20px;
    }
  }

  &__right {
    @include flex-between-center-gap(30);
    max-width: 510px;
    width: 100%;
    @media (max-width: 1100px) {
      max-width: 450px;
    }
    @media (max-width: 950px) {
      max-width: 420px;
    }
    @include r($tablet) {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 40px;
    }
    @include r($phone) {
      gap: 30px;
    }
  }

  &__list {
    @include flex-align-center(3);
    @include r($tablet) {
      display: none;
    }

    &.mobile {
      @include r($tablet) {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 25px;
      }
    }
  }

  &__item {
    position: relative;
  }

  &__link {
    @include flex-align-center(4);
    font-size: 15px;
    padding: 11px 12px;
    line-height: 1.35;
    border-radius: 12px;
    position: relative;
    transition: color .4s, background-color .4s, box-shadow .4s;

    &:hover {
      background-color: $white;
    }

    &:focus {
      background-color: $white;
      color: $accent350;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04);

      svg g path {
        fill: $accent350;
      }
    }

    &.active {
      background-color: $white;
      pointer-events: none;
      color: inherit;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04);
    }
  }

  &__dropdown {
    @include flex-column(0);
    font-size: 16px;
    z-index: 15;
    border-radius: 7px;
    overflow: hidden;
    position: absolute;
    top: 48px;
    width: 100%;
    padding: 0 0;
    background-color: $white;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.14);
    transition: opacity .4s, visibility .4s;
    @include r($tablet) {
      position: static;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      margin-left: 14px;
      font-size: 14px;
      margin-top: 6px;
    }

    &.active {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
      user-select: auto;
    }

    &-link {
      background-color: transparent;
      padding: 12px 12px;
      display: flex;
      transition: color .4s, background-color .4s;

      &:hover {
        background-color: $light-gray;
        color: $black100;
      }

      &:focus {
        background-color: $accent350;
        color: $white;
      }
    }
  }

  &__linktree {
    @include flex-align-center(9);
    padding: 2px 3px;
    border-radius: 3px;
    outline: 1px solid transparent;
    transition: color .4s, outline-color .4s;
    @include r($tablet) {
      display: none;
    }

    &:hover {
      color: $accent350;

      svg path {
        fill: $accent350;
      }
    }

    &:focus {
      outline-color: $accent350;
    }

    &.mobile {
      display: none;
      @include r($tablet) {
        display: flex;
      }
      @media (max-width: 400px) {
        font-size: 16px;
      }
    }
  }

  &__mobile {
    @include flex-column(30);
    padding: 115px 16px 30px;
    display: none;
    position: fixed;
    z-index: 25;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    user-select: none;
    visibility: hidden;
    background-color: #f3f3f3;
    backdrop-filter: blur(20px);
    transform: translateX(100%);
    height: 100vh;
    transition: all .7s ease-in-out;
    @include r($tablet) {
      display: flex;
    }

    &.active {
      visibility: visible;
      user-select: auto;
      pointer-events: auto;
      transform: translateX(0);
    }
  }

  img {
    user-select: none;
  }
}